form {
    display: block;
    margin: 5% auto;
    padding: 5%;
    background-color: blanchedalmond;
    border: 2px solid black;
    border-radius: 10%;
    width: fit-content;
}

h1 {
    text-align: center;
}


input, label {
    width: 100%;
}

#Comment {
    display: inline-flex;
    margin: 5% 0;
    height: 5em;
    overflow: hidden;
    width: 100%;
}

input[type="submit"] {
    float: left;
    height: fit-content;
    width: fit-content;
}

p{
    text-align: center;
    float: right;
    margin: 1px 0;
}